<h2>Sponsors de l'évènement</h2>

<h3>Platinium</h3>

<div class="sponsor-section sponsor-section-platinium">
    <figure>
        <img src="/img/sponsors/2025/renault-digital.svg" alt="Renault Digital">
    </figure>
    <figure>
        <img src="/img/sponsors/2025/worldline.svg" alt="Worldline">
    </figure>
    <figure>
        <img src="/img/sponsors/2025/agorapulse.svg" alt="Agora Pulse">
    </figure>
    <figure>
        <img src="/img/sponsors/2025/octo.svg" alt="Octo">
    </figure>
    <figure>
        <img src="/img/sponsors/2025/ilead.svg" alt="iLeadConsulting">
    </figure>
    <figure>
        <img src="/img/sponsors/2025/mirakl.svg" alt="Mirakl">
    </figure>
    <figure>
        <img src="/img/sponsors/2025/sciam.svg" alt="Sciam">
    </figure>
    <figure>
        <img src="/img/sponsors/2025/oxiane.svg" alt="Oxiane">
    </figure>
</div>
