<div class="widget-mailinglist widget">
    <h4 class="widget__title">Mailing list</h4>
    <div class="widget__content">
        <a href="https://ecd81b89.sibforms.com/serve/MUIFAOMpKq6uvUvQ_aENbAL_3_qUlWsPZ2L7AsNmLwMDPmB2tK2kwsDtnEwFf6ycMgp_kqFIG-OeQZzgle9LkpUx1b-xhV_dai42YkbMyG_Dv3aC-aiqxSlEhzMec0BPyAWjIquekUKzhJ7pZxgoTSqI8TeGXMOx3XfHx8PK9VlvJ3dJH2cfbmjOdjEGM7MHnxayTYCfGSR3dTL9" target="_blank"
            title="S'abonner à la mailing list">
            <img src="/img/mail.png" alt="Mailing list" style="float: left; padding-right: 8px"> <strong>Abonnez-vous pour vous tenir informé(e)</strong>
        </a> des prochaines réunions ou évènements majeurs !
    </div>
</div>