<div class="widget-mailinglist widget">
    <h4 class="widget__title">Mailing list</h4>
    <div class="widget__content">
        <a href="https://ecd81b89.sibforms.com/serve/MUIFAMfq-CCQZSko9QBvShBuyHsnNyeCzzSUEwcl3fBKQld60x8qvdwwYq4nt1l64noZCjqPQhhUQJLLiTG0G9BR91scG48_z5KJiYe58RaI-0lCxiw6i433ZjsORUfLagbPsCzRMIEqK1EaLAI46f6z-XL_2cHgtyY3zA2AE1acrYOQQVB4d9UUcKnnikWm1I-wq8q8KGb5iEgV" target="_blank"
            title="S'abonner à la mailing list">
            <img src="/img/mail.png" alt="Mailing list" style="float: left; padding-right: 8px"> <strong>Abonnez-vous pour vous tenir informé(e)</strong>
        </a> des prochaines réunions ou évènements majeurs !
    </div>
</div>