<div class="widget-mailinglist widget">
    <h4 class="widget__title">Mailing list</h4>
    <div class="widget__content">
        <a href="https://ecd81b89.sibforms.com/serve/MUIFACpuLGMsyo3ssD8eg25R1HdesG3Z4zZJjiWYTMEdU5FkxAstCmZ62-mlyRPB01G_PMejcCHGGgd3yMrRCskzjMStxDir1LpSbnLa1jw-zwrNqC5_l1cVz8jSWCxg0VqbshEzvDxm4boBttMrlsIcgaTU4IYfz338ITpTFYJHAXR7iBrWzt5Qm07rOwfWSj0El9r_lP7i4jbT" target="_blank"
            title="S'abonner à la mailing list">
            <img src="/img/mail.png" alt="Mailing list" style="float: left; padding-right: 8px"> <strong>Abonnez-vous pour vous tenir informé(e)</strong>
        </a> des prochaines réunions ou évènements majeurs !
    </div>
</div>