<div class="widget-mailinglist widget">
    <h4 class="widget__title">ParisJug Academy 2025</h4>
    <div class="widget__content">
        <figure class="sponsor-svg-logo" style="float: left; padding-right: 12px"><a href="https://forms.gle/XMd15eRSpirwxW817" target="_blank"><img
                    src="/img/parisjugacademy.png" alt="ParisJug Academy 2025" width="50px"></a>
        </figure>

        <div class="widget__content"><b><a href="https://forms.gle/GhnGU9VzZSPUP54Q9" target="_blank">Pour soumettre
                remplisser ce formulaire</a></b> <br />

            Cette année c’est la nouvelle édition de la désormais incontournable session de janvier du ParisJUG : le ParisJUG Academy.<br />

            Cette année la session est parrainée par le <i><a href="https://dev.java/community/jcs/" target="_blank">java champion</a> <b><a href="{{ ref . "/speakers/antoine-sabot-durand" }}" target="_blank">Antoine Dabot-Durand</a></b></i><br />

            Elle se déroulera le mardi 14 janvier 2025<br />
            Le formulaire est ouvert jusqu’au <b>dimanche 17/11/2024 (minuit à Paris)</b><br />
            4 a 6 talks de 15 minutes seront sélectionnés :<br />
        </div>
        <div>
            <ul>
                <li>
                     - Le premier à soumettre ;
                </li>
                <uli>
                     - 2 a 4 talks sélectionnés entre 18/11/2024 au 25/11/2024 ;
                </uli>
                <li>
                     - 1 talk tiré au hasard.
                </li>
            </ul>
        </div>
        <div>
            Ceux qui le désirent pourront avoir un accompagnement à la préparation de leur talk. Dans ce cas, ils seront
            “coachés” pendant 2 ou 3 soirées entre le 26/11/2024 et le 10/01/2025.</div>
    </div>
</div>