<div class="widget-mailinglist widget">
    <h4 class="widget__title"><a href="/academy/">Paris JUG Academy le 13/1/2026</a></h4>
    <div class="widget__content">
        <figure class="sponsor-svg-logo" style="float: left; padding-right: 12px"><a href="https://forms.gle/5t4Aww2NACcGxqf87" target="_blank"><img
                    src="/img/parisjugacademy.png" alt="ParisJug Academy 2026" width="50px"></a>
        </figure>

        <div class="widget__content">
            <p style="font-weight: bold;"><a href="https://forms.gle/5t4Aww2NACcGxqf87" target="_blank">Les candidatures sont ouvertes !</a><p>
            <p>La 12ème Paris JUG Academy aura lieu le 13/1/2026. Six personnes présenteront des sujets de 15mn, le public désignera alors un gagnant ou une gagnante.
            Cette session sera parrainée <a href="/speakers/audrey-neveu">Audrey Neveu</a>, <i><a href="https://dev.java/community/jcs/" target="_blank">Java Champion</a></i> <strong></strong>.<br />
            Les candidatures sont ouvertes jusqu’au <strong>dimanche 23/11/2025 (minuit à Paris)</strong>. </p>
            <ul>
                <li>- Tous les sujets sont acceptés ;</li>
                <li>- La première candidature soumise est systématiquement acceptée ;</li>
                <li>- Une candidature est tirée au hasard ;</li>
                <li>- Nous annoncerons le résultat le 26/11/2025.</li>
            </ul>
            <p>Les candidats peuvent bénéficier d'un accompagnement dans leur préparation lors de 4 soirées
                entre le 26/11/2025 et le 13/01/2026.</p>
    </div>
</div>
