<div class="widget-mailinglist widget">
    <h4 class="widget__title">Young blood 2024</h4>
    <div class="widget__content">
        <figure class="sponsor-svg-logo" style="float: left; padding-right: 12px"><a href="https://forms.gle/XMd15eRSpirwxW817" target="_blank"><img
                    src="/img/youngblood.png" alt="Young Blood 2024" width="50px"></a>
        </figure>

        <div class="widget__content"><b><a href="https://forms.gle/XMd15eRSpirwxW817" target="_blank">Pour soumettre
                remplisser ce formulaire</a></b> <br />

            Cette année c’est la onzième édition de la désormais incontournable session de janvier du ParisJUG : les
            Young Bloods.<br />

            Cette année la session est parrainée par le <i><a href="https://dev.java/community/jcs/" target="_blank">java champion</a> <a href="{{ ref . "/speakers/julien-dubois" }}" target="_blank">Julien Dubois</a></i><br />

            Elle se déroulera le mardi 09 janvier 2024<br />
            Le formulaire est ouvert jusqu’au <b>dimanche 19/11/2023 (minuit à Paris)</b><br />
            4 a 6 talks de 15 minutes seront sélectionnés :<br />
        </div>
        <div>
            <ul>
                <li>
                     - Le premier à soumettre ;
                </li>
                <uli>
                     - 2 a 4 talks sélectionnés entre 20/11/2023 au 26/11/2023 ;
                </uli>
                <li>
                     - 1 talk tiré au hasard.
                </li>
            </ul>
        </div>
        <div>
            Ceux qui le désirent pourront avoir un accompagnement à la préparation de leur talk. Dans ce cas, ils seront
            “coachés” pendant 2 ou 3 soirées entre le 20/11/2023 et le 08/01/2024.</div>
    </div>
</div>